<div class="row">
    <div class="grid grid-pad col">
        <a *ngFor="let song of songs; index as song_id"
            class="song-frame  col-1-4 media"
            routerLink="/detail/{{song.id}}">
            <img class="song-img mr-3" src="../../assets/song.png"  alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{song.artist}} - {{song.title}}</h5>
                <ng-template #rated>{{song.rate}}</ng-template>
            </div>
        </a>
    </div>
    <download-song class="col"></download-song>
</div>


