
.song-img {
    width: 64px;
    height: 64px;
    border-radius: 10%;
}

.song-frame{
    padding: 20px;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #3d464b;
    border-radius: 2px;
}

.grid {
    margin: 0;
}
.col-1-4 {
    width: 100%;
}
.song-frame:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}

h5 {
    text-align:center
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}
@media (max-width: 600px) {
    .song-frame {
      font-size: 10px;
      max-height: 75px; }
}
@media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .song-frame {
      min-width: 60px;
    }
  }